<div style="width: 50%; border: 1px solid; padding:1rem; margin: 1rem; border-radius: 1rem;">
    <form class="row g-3" method="post" >
  <div class="col-md-6">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="col-md-6">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description">
  </div>
  <div class="col-md-6">
    <label for="code" class="form-label">Code</label>
    <input type="text" class="form-control" id="code">
  </div>
  <div class="col-md-6">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" id="price" step="0.01">
  </div>
  <div class="col-md-6">
    <label for="stock" class="form-label">stock</label>
    <input type="number" class="form-control" id="stock">
  </div>
  <div class="col-md-6">
    <label for="category" class="form-label">category</label>
    <input type="text" class="form-control" id="category">
  </div>
  <div class="col-md-6">
    <label for="thumbnails" class="form-label">Thumbnails</label>
    <input type="file" class="form-control" id="thumbnails">
  </div>  
    <button type="submit" class="btn btn-primary">Cargar</button>
  </div>
</form>
</div>